In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Packages & Modules**

In [ ]:
import pandas as pd
import numpy as np
import datetime
import openpyxl

# **Load Data**

In [ ]:
#declares the data
#adjust the variabel with the data that will be processed
#copy filepath each data
data26_27 = '/content/drive/MyDrive/Magang/DRI Batch 5/Report WO per 3 days/Desember 2022/ORDER PROVISIONING SEMARANG (26, 27 Desember 2022).xlsx'
data28_30 = '/content/drive/MyDrive/Magang/DRI Batch 5/Report WO per 3 days/Desember 2022/ORDER PROVISIONING SEMARANG (28, 29, 30 Desember 2022).xlsx'
data31_2 = '/content/drive/MyDrive/Magang/DRI Batch 5/Report WO per 3 days/januari 2023/ORDER_PROVISIONING_SEMARANG_31_Desember_2022_1_Januari_2023.xlsx'

# **Function 1 day**

In [ ]:
#function that used for 1day data
def getData1(data1_3):

  #get ready data & get the name of sheet
  data = data1_3
  sheet = openpyxl.load_workbook(data).sheetnames[:3]
  df1 = pd.read_excel(data,sheet[0])

  #adjust name of columns
  x = ['SC','TYPE','TYPE TRANSAKSI','NAMA|ALAMAT','KONTAK','STATUS SC','TEKNISI',
      'MITRA','SN ONT','STATUS','QR CODE','PORT ODP','PANJANG DC (m)','QR ODP',
      'AREA','JAM INPUT GD (JJ.MM)','TGL WO|TGL APPOINMENT','KETERANGAN']

  #get data for first sheet
  df = df1
  date = sheet[0]
  df.dropna(axis=0,how="all")
  #split data based on area
  df_banyumanik = df.iloc[:,:18]
  df_ungaran = df.iloc[:,19:37]
  df_majapahit = df.iloc[:,38:56]
  df_salatiga = df.iloc[:,57:75]
  df_tugu = df.iloc[:,76:94]
  df_johar = df.iloc[:,95:113]
  df_candi = df.iloc[:,114:132]
  df_simpangLima = df.iloc[:,133:151]
  df_kendal = df.iloc[:,152:170]
  #setting name of columns & and new column (teritori)
  df_banyumanik.columns = x; df_banyumanik = df_banyumanik.dropna(axis=0,how="all");df_banyumanik['TERITORI']="Banyumanik"
  df_ungaran.columns = x; df_ungaran= df_ungaran.dropna(axis=0,how="all");df_ungaran['TERITORI']="Ungaran"
  df_majapahit.columns = x; df_majapahit = df_majapahit.dropna(axis=0,how="all");df_majapahit['TERITORI']="Majapahit"
  df_salatiga.columns = x; df_salatiga= df_salatiga.dropna(axis=0,how="all");df_salatiga['TERITORI']="Salatiga"
  df_tugu.columns = x; df_tugu = df_tugu.dropna(axis=0,how="all");df_tugu['TERITORI']="Tugu"
  df_johar.columns = x; df_johar= df_johar.dropna(axis=0,how="all");df_johar['TERITORI']="Johar"
  df_candi.columns = x; df_candi = df_candi.dropna(axis=0,how="all");df_candi['TERITORI']="Candi"
  df_simpangLima.columns = x; df_simpangLima= df_simpangLima.dropna(axis=0,how="all");df_simpangLima['TERITORI']="Simpang Lima"
  df_kendal.columns = x; df_kendal= df_kendal.dropna(axis=0,how="all");df_kendal['TERITORI']="Kendal"
  #merge/join data based on area into one
  merge = [df_banyumanik,df_ungaran,df_majapahit,df_salatiga,df_tugu,
          df_johar,df_candi,df_simpangLima,df_kendal]
  df1 = pd.concat(merge)
  df1['DATE'] = date

  df1 = df1[['TERITORI','DATE','SC','TYPE','TYPE TRANSAKSI','NAMA|ALAMAT','KONTAK','STATUS SC','TEKNISI',
      'MITRA','SN ONT','STATUS','QR CODE','PORT ODP','PANJANG DC (m)','QR ODP',
      'AREA','JAM INPUT GD (JJ.MM)','TGL WO|TGL APPOINMENT','KETERANGAN']]
  #convert data type date column & split trim in area column
  df1['DATE'] = pd.to_datetime(df1['DATE'],format='%d%m%Y')
  df1['AREA'] = df1['AREA'].str.split('. ').str[-1]

  return df1

# **Function 2 days**

In [ ]:
#function that used for 2day data
def getData2(data1_3):

  #get ready data & get the name of sheet
  data = data1_3
  sheet = openpyxl.load_workbook(data).sheetnames[:3]
  df1 = pd.read_excel(data,sheet[1])
  df2 = pd.read_excel(data,sheet[0])

  #adjust name of columns
  x = ['SC','TYPE','TYPE TRANSAKSI','NAMA|ALAMAT','KONTAK','STATUS SC','TEKNISI',
      'MITRA','SN ONT','STATUS','QR CODE','PORT ODP','PANJANG DC (m)','QR ODP',
      'AREA','JAM INPUT GD (JJ.MM)','TGL WO|TGL APPOINMENT','KETERANGAN']

  #get data for first sheet
  df = df1
  date = sheet[1]
  df.dropna(axis=0,how="all")
  #split data based on area
  df_banyumanik = df.iloc[:,:18]
  df_ungaran = df.iloc[:,19:37]
  df_majapahit = df.iloc[:,38:56]
  df_salatiga = df.iloc[:,57:75]
  df_tugu = df.iloc[:,76:94]
  df_johar = df.iloc[:,95:113]
  df_candi = df.iloc[:,114:132]
  df_simpangLima = df.iloc[:,133:151]
  df_kendal = df.iloc[:,152:170]
  #setting name of columns & and new column (teritori)
  df_banyumanik.columns = x; df_banyumanik = df_banyumanik.dropna(axis=0,how="all");df_banyumanik['TERITORI']="Banyumanik"
  df_ungaran.columns = x; df_ungaran= df_ungaran.dropna(axis=0,how="all");df_ungaran['TERITORI']="Ungaran"
  df_majapahit.columns = x; df_majapahit = df_majapahit.dropna(axis=0,how="all");df_majapahit['TERITORI']="Majapahit"
  df_salatiga.columns = x; df_salatiga= df_salatiga.dropna(axis=0,how="all");df_salatiga['TERITORI']="Salatiga"
  df_tugu.columns = x; df_tugu = df_tugu.dropna(axis=0,how="all");df_tugu['TERITORI']="Tugu"
  df_johar.columns = x; df_johar= df_johar.dropna(axis=0,how="all");df_johar['TERITORI']="Johar"
  df_candi.columns = x; df_candi = df_candi.dropna(axis=0,how="all");df_candi['TERITORI']="Candi"
  df_simpangLima.columns = x; df_simpangLima= df_simpangLima.dropna(axis=0,how="all");df_simpangLima['TERITORI']="Simpang Lima"
  df_kendal.columns = x; df_kendal= df_kendal.dropna(axis=0,how="all");df_kendal['TERITORI']="Kendal"
  #merge/join data based on area into one
  merge = [df_banyumanik,df_ungaran,df_majapahit,df_salatiga,df_tugu,
          df_johar,df_candi,df_simpangLima,df_kendal]
  df1 = pd.concat(merge)
  df1['DATE'] = date

  #get data for second sheet
  df = df2
  date = sheet[0]
  df.dropna(axis=0,how="all")
  #split data based on area
  df_banyumanik = df.iloc[:,:18]
  df_ungaran = df.iloc[:,19:37]
  df_majapahit = df.iloc[:,38:56]
  df_salatiga = df.iloc[:,57:75]
  df_tugu = df.iloc[:,76:94]
  df_johar = df.iloc[:,95:113]
  df_candi = df.iloc[:,114:132]
  df_simpangLima = df.iloc[:,133:151]
  df_kendal = df.iloc[:,152:170]
  #setting name of columns & and new column (teritori)
  df_banyumanik.columns = x; df_banyumanik = df_banyumanik.dropna(axis=0,how="all");df_banyumanik['TERITORI']="Banyumanik"
  df_ungaran.columns = x; df_ungaran= df_ungaran.dropna(axis=0,how="all");df_ungaran['TERITORI']="Ungaran"
  df_majapahit.columns = x; df_majapahit = df_majapahit.dropna(axis=0,how="all");df_majapahit['TERITORI']="Majapahit"
  df_salatiga.columns = x; df_salatiga= df_salatiga.dropna(axis=0,how="all");df_salatiga['TERITORI']="Salatiga"
  df_tugu.columns = x; df_tugu = df_tugu.dropna(axis=0,how="all");df_tugu['TERITORI']="Tugu"
  df_johar.columns = x; df_johar= df_johar.dropna(axis=0,how="all");df_johar['TERITORI']="Johar"
  df_candi.columns = x; df_candi = df_candi.dropna(axis=0,how="all");df_candi['TERITORI']="Candi"
  df_simpangLima.columns = x; df_simpangLima= df_simpangLima.dropna(axis=0,how="all");df_simpangLima['TERITORI']="Simpang Lima"
  df_kendal.columns = x; df_kendal= df_kendal.dropna(axis=0,how="all");df_kendal['TERITORI']="Kendal"
  #merge/join data based on area into one
  merge = [df_banyumanik,df_ungaran,df_majapahit,df_salatiga,df_tugu,
          df_johar,df_candi,df_simpangLima,df_kendal]
  df2 = pd.concat(merge)
  df2['DATE'] = date

  #merge data of all sheet
  merge = [df1,df2]
  data = pd.concat(merge)
  data = data[['TERITORI','DATE','SC','TYPE','TYPE TRANSAKSI','NAMA|ALAMAT','KONTAK','STATUS SC','TEKNISI',
      'MITRA','SN ONT','STATUS','QR CODE','PORT ODP','PANJANG DC (m)','QR ODP',
      'AREA','JAM INPUT GD (JJ.MM)','TGL WO|TGL APPOINMENT','KETERANGAN']]
  #convert data type date column & split trim in area column
  data['DATE'] = pd.to_datetime(data['DATE'],format='%d%m%Y')
  data['AREA'] = data['AREA'].str.split('. ').str[-1]
  df1_2 = data

  return df1_2

# **Function 3 days**

In [ ]:
#function that used for 1day data
def getData3(data1_3):

  #get ready data & get the name of sheet
  data = data1_3
  sheet = openpyxl.load_workbook(data).sheetnames[:3]
  df1 = pd.read_excel(data,sheet[2])
  df2 = pd.read_excel(data,sheet[1])
  df3 = pd.read_excel(data,sheet[0])

  #adjust name of columns
  x = ['SC','TYPE','TYPE TRANSAKSI','NAMA|ALAMAT','KONTAK','STATUS SC','TEKNISI',
      'MITRA','SN ONT','STATUS','QR CODE','PORT ODP','PANJANG DC (m)','QR ODP',
      'AREA','JAM INPUT GD (JJ.MM)','TGL WO|TGL APPOINMENT','KETERANGAN']

  #get data for first sheet
  df = df1
  date = sheet[2]
  df.dropna(axis=0,how="all")
  #split data based on area
  df_banyumanik = df.iloc[:,:18]
  df_ungaran = df.iloc[:,19:37]
  df_majapahit = df.iloc[:,38:56]
  df_salatiga = df.iloc[:,57:75]
  df_tugu = df.iloc[:,76:94]
  df_johar = df.iloc[:,95:113]
  df_candi = df.iloc[:,114:132]
  df_simpangLima = df.iloc[:,133:151]
  df_kendal = df.iloc[:,152:170]
  #setting name of columns & and new column (teritori)
  df_banyumanik.columns = x; df_banyumanik = df_banyumanik.dropna(axis=0,how="all");df_banyumanik['TERITORI']="Banyumanik"
  df_ungaran.columns = x; df_ungaran= df_ungaran.dropna(axis=0,how="all");df_ungaran['TERITORI']="Ungaran"
  df_majapahit.columns = x; df_majapahit = df_majapahit.dropna(axis=0,how="all");df_majapahit['TERITORI']="Majapahit"
  df_salatiga.columns = x; df_salatiga= df_salatiga.dropna(axis=0,how="all");df_salatiga['TERITORI']="Salatiga"
  df_tugu.columns = x; df_tugu = df_tugu.dropna(axis=0,how="all");df_tugu['TERITORI']="Tugu"
  df_johar.columns = x; df_johar= df_johar.dropna(axis=0,how="all");df_johar['TERITORI']="Johar"
  df_candi.columns = x; df_candi = df_candi.dropna(axis=0,how="all");df_candi['TERITORI']="Candi"
  df_simpangLima.columns = x; df_simpangLima= df_simpangLima.dropna(axis=0,how="all");df_simpangLima['TERITORI']="Simpang Lima"
  df_kendal.columns = x; df_kendal= df_kendal.dropna(axis=0,how="all");df_kendal['TERITORI']="Kendal"
  #merge/join data based on area into one
  merge = [df_banyumanik,df_ungaran,df_majapahit,df_salatiga,df_tugu,
          df_johar,df_candi,df_simpangLima,df_kendal]
  df1 = pd.concat(merge)
  df1['DATE'] = date

  #get data for first sheet
  df = df2
  date = sheet[1]
  df.dropna(axis=0,how="all")
  #split data based on area
  df_banyumanik = df.iloc[:,:18]
  df_ungaran = df.iloc[:,19:37]
  df_majapahit = df.iloc[:,38:56]
  df_salatiga = df.iloc[:,57:75]
  df_tugu = df.iloc[:,76:94]
  df_johar = df.iloc[:,95:113]
  df_candi = df.iloc[:,114:132]
  df_simpangLima = df.iloc[:,133:151]
  df_kendal = df.iloc[:,152:170]
  #setting name of columns & and new column (teritori)
  df_banyumanik.columns = x; df_banyumanik = df_banyumanik.dropna(axis=0,how="all");df_banyumanik['TERITORI']="Banyumanik"
  df_ungaran.columns = x; df_ungaran= df_ungaran.dropna(axis=0,how="all");df_ungaran['TERITORI']="Ungaran"
  df_majapahit.columns = x; df_majapahit = df_majapahit.dropna(axis=0,how="all");df_majapahit['TERITORI']="Majapahit"
  df_salatiga.columns = x; df_salatiga= df_salatiga.dropna(axis=0,how="all");df_salatiga['TERITORI']="Salatiga"
  df_tugu.columns = x; df_tugu = df_tugu.dropna(axis=0,how="all");df_tugu['TERITORI']="Tugu"
  df_johar.columns = x; df_johar= df_johar.dropna(axis=0,how="all");df_johar['TERITORI']="Johar"
  df_candi.columns = x; df_candi = df_candi.dropna(axis=0,how="all");df_candi['TERITORI']="Candi"
  df_simpangLima.columns = x; df_simpangLima= df_simpangLima.dropna(axis=0,how="all");df_simpangLima['TERITORI']="Simpang Lima"
  df_kendal.columns = x; df_kendal= df_kendal.dropna(axis=0,how="all");df_kendal['TERITORI']="Kendal"
  #merge/join data based on area into one
  merge = [df_banyumanik,df_ungaran,df_majapahit,df_salatiga,df_tugu,
          df_johar,df_candi,df_simpangLima,df_kendal]
  df2 = pd.concat(merge)
  df2['DATE'] = date

  #get data for first sheet
  df = df3
  date = sheet[0]
  df.dropna(axis=0,how="all")
  #split data based on area
  df_banyumanik = df.iloc[:,:18]
  df_ungaran = df.iloc[:,19:37]
  df_majapahit = df.iloc[:,38:56]
  df_salatiga = df.iloc[:,57:75]
  df_tugu = df.iloc[:,76:94]
  df_johar = df.iloc[:,95:113]
  df_candi = df.iloc[:,114:132]
  df_simpangLima = df.iloc[:,133:151]
  df_kendal = df.iloc[:,152:170]
  #setting name of columns & and new column (teritori)
  df_banyumanik.columns = x; df_banyumanik = df_banyumanik.dropna(axis=0,how="all");df_banyumanik['TERITORI']="Banyumanik"
  df_ungaran.columns = x; df_ungaran= df_ungaran.dropna(axis=0,how="all");df_ungaran['TERITORI']="Ungaran"
  df_majapahit.columns = x; df_majapahit = df_majapahit.dropna(axis=0,how="all");df_majapahit['TERITORI']="Majapahit"
  df_salatiga.columns = x; df_salatiga= df_salatiga.dropna(axis=0,how="all");df_salatiga['TERITORI']="Salatiga"
  df_tugu.columns = x; df_tugu = df_tugu.dropna(axis=0,how="all");df_tugu['TERITORI']="Tugu"
  df_johar.columns = x; df_johar= df_johar.dropna(axis=0,how="all");df_johar['TERITORI']="Johar"
  df_candi.columns = x; df_candi = df_candi.dropna(axis=0,how="all");df_candi['TERITORI']="Candi"
  df_simpangLima.columns = x; df_simpangLima= df_simpangLima.dropna(axis=0,how="all");df_simpangLima['TERITORI']="Simpang Lima"
  df_kendal.columns = x; df_kendal= df_kendal.dropna(axis=0,how="all");df_kendal['TERITORI']="Kendal"
  #merge/join data based on area into one
  merge = [df_banyumanik,df_ungaran,df_majapahit,df_salatiga,df_tugu,
          df_johar,df_candi,df_simpangLima,df_kendal]
  df3 = pd.concat(merge)
  df3['DATE'] = date

  #merge data of all sheet
  merge = [df1,df2,df3]
  data = pd.concat(merge)
  data = data[['TERITORI','DATE','SC','TYPE','TYPE TRANSAKSI','NAMA|ALAMAT','KONTAK','STATUS SC','TEKNISI',
      'MITRA','SN ONT','STATUS','QR CODE','PORT ODP','PANJANG DC (m)','QR ODP',
      'AREA','JAM INPUT GD (JJ.MM)','TGL WO|TGL APPOINMENT','KETERANGAN']]
  #convert data type date column & split trim in area column
  data['DATE'] = pd.to_datetime(data['DATE'],format='%d%m%Y')
  data['AREA'] = data['AREA'].str.split('. ').str[-1]
  df1_3 = data


  return df1_3

# **Execute**

In [ ]:
#execute the function into each data
#adjust the function with the data will be processed
df1 = getData2(data26_27)
df2 = getData3(data28_30)
df3 = getData3(data31_2)
#merge/join data
#[df1_3,df4_6,df7_9,df10_12,df13_15,df16_18,df19_21,df22_24,df25_27,df28_30]
merge = [df1,df2,df3]
data = pd.concat(merge)
data['DATE'] = pd.to_datetime(data['DATE'],format='%d%m%Y')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1364 entries, 1 to 43
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   TERITORI               1364 non-null   object
 1   DATE                   1364 non-null   datetime64[ns]
 2   SC                     754 non-null    object
 3   TYPE                   1363 non-null   object
 4   TYPE TRANSAKSI         1363 non-null   object
 5   NAMA|ALAMAT            1363 non-null   object
 6   KONTAK                 1362 non-null   object
 7   STATUS SC              612 non-null    object
 8   TEKNISI                1363 non-null   object
 9   MITRA                  1338 non-null   object
 10  SN ONT                 754 non-null    object
 11  STATUS                 1317 non-null   object
 12  QR CODE                670 non-null    object
 13  PORT ODP               578 non-null    float64
 14  PANJANG DC (m)         578 non-null    object
 15  QR ODP                 578 non-null    object
 16  AREA                   1363 non-null   object
 17  JAM INPUT GD (JJ.MM)   1363 non-null   float64
 18  TGL WO|TGL APPOINMENT  1363 non-null   object
 19  KETERANGAN             1359 non-null   object
dtypes: datetime64[ns](1), float64(2), object(17)
memory usage: 223.8+ KB

In [ ]:
#save the result into csv & excel file
#that will be processed in next step (cleansing)
data.to_csv("des26_jan2.csv",index=False)